amqp
asgiref
beautifulsoup4
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cryptography
defusedxml
Django
django-allauth
django-cors-headers
django-redis
djangorestframework
gunicorn
idna
joblib
kombu
nltk
oauthlib
prompt_toolkit
pycparser
PyJWT
python-dateutil
python3-openid
pytz
redis
regex
requests
requests-oauthlib
six
soupsieve
sqlparse
tqdm
tzdata
urllib3
vine
wcwidth
youtube-dl
# Added packages
drf-yasg  # Swagger/OpenAPI documentation
pytest  # Testing
pytest-django # Django test integration
django-ratelimit  # IP-based rate limiting
sentry-sdk  # Error monitoring
pytest-celery  # Celery test integration
retrying # Retry mechanism for external API calls
mutagen  # Audio metadata handling for multiple formats
